@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sen&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

body {
    background-image: url('IMG/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    min-height: 160px;
    background-color: #161F30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1400px;
    min-height: 150px;
}

.titulo {
    font-size: 35px;
    color: #C0BBBB;
    text-decoration: underline;
    margin-right: 100px;
}

.logo img {
    max-height: 240px;
    margin-left: 30px;

}

.meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.pesquisa {
    min-height: 90px;
    min-width: 500px;
    background-color: #161F30;
    text-align: left;
}

.busca {
    padding: 25px;
    display: flex;
    justify-content: space-between;

}


.container-pesquisa {
    position: relative;
    display: flex;
    align-items: center;
}

.caixa-pesquisa {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding-right: 40px;
    /* espaço para o ícone de lupa */
}

.icone-lupa {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.sort-bar {
    margin: 10px;
}

label {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
}

/* daqui pra frent é aqui */

.games {
    background-color: #161F30;
    width: 60%;
    margin: 0 auto;
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.nome-game {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.result {
    width: 96%;
    background-color: #1D2A42;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.result img {
    width: 75px;
    height: 75px;
}

.conquistas {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text {
    position: relative;
    min-height: 60px;
    border: 1px solid #17435c;
    padding: 1px;
    overflow: hidden;
    width: 100%;
    color: white;
}

.porcentagem {
    float: right;
    position: relative;
    z-index: 40;
    color: white;
}

.foto-conquista {
    width: 75px;
    height: 75px;
    float: left;
}

.nome-conquista {
    position: relative;
    padding: 17px 6px 6px 6px;
    z-index: 40;
}

.achieveFill {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    z-index: 10;
    background: #17435c;
}

.erro {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius: 5px;
}

.erro h3 {
    font-size: 20px;
    margin: 0;
}